/**
 * SAUserPrefs plugin styles
 */

#address-rules-cont,
#spam-langs-cont
{
  border: 1px solid #999999;
  background-color: #F9F9F9;
  height: 200px;
  overflow: auto;
  width: 510px;
}

body.address-rules-table,
body.spam-langs-table
{
  margin: 0px;
  background-color: #F9F9F9;
}

#address-rules-table,
#spam-langs-table
{
  width: 100%;
  display: table;
  table-layout: fixed;
}

#address-rules-table thead td.rule
{
  width: 180px;
}

#address-rules-table thead td.control
{
  width: 40px;
}

#spam-langs-table td.lang,
#address-rules-table td.rule,
#address-rules-table td.email,
#address-rules-table td.email
{
  text-align: left;
  vertical-align: middle;
}

#spam-langs-table td.tick,
#address-rules-table td.control
{
  text-align: right;
  vertical-align: middle;
}

#spam-langs-table td.tick a,
#address-rules-table td.control a
{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background-image: url(icons.png);
}

#address-rules-table td.control a.delete
{
  background-position: 0 0;
}

#spam-langs-table td.tick a.enabled
{
  background-position: 0 -18px;
}

#spam-langs-table td.tick a.disabled
{
  background-position: 0 -36px;
}

.whitelist_from,
.whitelist_to
{
  color: #008800;
  text-align: left;
  vertical-align: middle;

}

.blacklist_from
{
  color: #BB0000;
  text-align: left;
  vertical-align: middle;
}

#listcontrols
{
  font-size: 11px;
  text-align: right;
}

#listcontrols a,
#listcontrols a:active,
#listcontrols a:visited
{
  color: #CC0000;
  font-size: 11px;
  text-decoration: none;
}

#listcontrols a:hover
{
  text-decoration: underline;
}

table.generalprefstable,
table.headersprefstable,
table.testsprefstable,
table.bayesprefstable,
table.reportprefstable
{
  width: 100%;
}

table.generalprefstable td.title
{
  width: 115px;
}

table.headersprefstable td.title
{
  width: 220px;
}

table.testsprefstable td.title
{
  width: 175px;
}

table.bayesprefstable td.title
{
  width: 220px;
}

table.reportprefstable td.title
{
  width: 320px;
}

table.generalprefstable td.help,
table.langprefstable td.help,
table.headersprefstable td.help,
table.testsprefstable td.help,
table.bayesprefstable td.help,
table.reportprefstable td.help,
table.addressprefstable td.help
{
  text-align: right;
}

table.addressprefstable td.ruletype
{
  width: 180px;
  padding-bottom: 10px;
}

table.addressprefstable td.address
{
  width: 220px;
  padding-bottom: 10px;
}

table.addressprefstable td.action
{
  width: 100px;
  text-align: right;
  padding-bottom: 10px;
}

table.langprefstable td.scroller,
table.addressprefstable td.scroller
{
  padding: 0;
}