<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:object name="sectionname" /></h1>

<div class="formcontent">
    <roundcube:object name="userprefs" form="form" class="propform" input_error_class="is-invalid" />
</div>

<div class="formbuttons">
    <roundcube:button command="plugin.sauserprefs.save" class="btn btn-primary submit" label="save" />
    <roundcube:button command="plugin.sauserprefs.default" class="btn btn-secondary saupusedefault" label="sauserprefs.saupusedefault" data-hidden-small="1" />
</div>

<script type="text/javascript">
// bootstrap display
$('#spam-langs-table,#address-rules-table,#test-scores-table').addClass('table table-striped');
$('table.propform tr.sauphelp.saupsubject td:first').addClass('d-none d-sm-flex');

// add bootstrap styles for radio buttons
$('[type=radio]', $('.propform', document)).addClass('form-check-input');
$('[type=radio]', $('.propform', document)).parents('tr').addClass('form-check');

// relocate help icon at end of text
$.each($('span.helpicon'), function() {
    var a = $(this).parent();
    var row = $(this).parents('tr');
    a.appendTo(row.children('td:first'));
});

// create input group for adding addresses
if ($('div.address-input').length == 1) {
    $('div.address-input').addClass('input-group');
    $('#rcmfd_spamaddressrule').wrap($('<span>').addClass('input-group-btn'));
    $('#rcmbtn_add_address').wrap($('<span>').addClass('input-group-btn'));
}

// add headers to score tests table
if ($('#test-scores-table').length == 1) {
    $('#test-scores-table > thead > tr').addClass('row');
    $('#test-scores-table > thead > tr > th:first').addClass('col-sm-4');
    $('#test-scores-table > thead > tr > th:last').addClass('col-sm-8');
}

</script>

<roundcube:include file="includes/footer.html" />