<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/this/sauserprefs.css" />
<roundcube:if condition="browser:ie" />
<link rel="stylesheet" type="text/css" href="/this/iehacks.css" />
<roundcube:endif />
<roundcube:if condition="browser:safari" />
<link rel="stylesheet" type="text/css" href="/this/safari.css" />
<roundcube:endif />
</head>
<body class="noscroll">

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">

<roundcube:include file="/includes/settingstabs.html" />

<div id="settings-right">

<div id="sectionslist" class="uibox listbox">
<div class="scroller">
	<roundcube:object name="sasectionslist" id="sections-table" class="listing" />
</div>
</div>

<div id="preferences-box" class="uibox contentbox">
<div class="iframebox">
	<roundcube:object name="saprefsframe" id="preferences-frame" style="width:100%; height:100%" frameborder="0" src="/watermark.html" />
</div>
<roundcube:object name="message" id="message" class="statusbar" />
</div>

</div>

</div>

<roundcube:include file="/includes/footer.html" />

<script type="text/javascript">
/* <![CDATA[ */

$(document).ready(function(){
	new rcube_splitter({id:'sauserprefssplitter', p1: '#sectionslist', p2: '#preferences-box', orientation: 'v', relative: true, start: 240}).init();
});

/* ]]> */
</script>

</body>
</html>