<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/this/sauserprefs.css" />
</head>
<body class="iframe">

<h1 class="boxtitle"><roundcube:object name="sectionname" /></h1>

<div id="preferences-details" class="boxcontent">
<roundcube:object name="userprefs" form="form" class="propform" />
</div>

<div class="footerleft formbuttons">
<roundcube:button command="plugin.sauserprefs.save" type="input" class="button mainaction" label="save" />
<roundcube:button command="plugin.sauserprefs.default" type="input" class="button" label="sauserprefs.usedefault" style="margin-right:0.5em" />
</div>

<roundcube:include file="/includes/footer.html" />

<script type="text/javascript">
var legend = $('#preferences-details fieldset.advanced legend'),
  toggle = $('<a href="#toggle"></a>')
    .text(rcmail.gettext('toggleadvancedoptions'))
    .attr('title', rcmail.gettext('toggleadvancedoptions'))
    .addClass('advanced-toggle');

legend.click(function(e) {
  toggle.html($(this).hasClass('collapsed') ? '&#9650;' : '&#9660;');

  $(this).toggleClass('collapsed')
    .closest('fieldset').children('.propform').toggle()
}).append(toggle).addClass('collapsed')

// this magically fixes incorrect position of toggle link created above in Firefox 3.6
if (bw.mz)
  legend.parents('form').css('display', 'inline');
</script>

</body>
</html>