/**
 * SAUserPrefs plugin styles
 */

#address-rules-cont,
#spam-langs-cont
{
  height: 200px;
  overflow: auto;
  width: 100%;
}

body.address-rules-table,
body.spam-langs-table
{
  margin: 0px;
}

#address-rules-table,
#spam-langs-table
{
  width: 100%;
  display: table;
  table-layout: fixed;
  border: 0;
}

#address-rules-table thead td,
#spam-langs-table thead td
{
  background-color: #CCC;
  font-weight: bold;
  color: #000;
}

#address-rules-table thead td.rule
{
  width: 180px;
}

#address-rules-table thead td.control
{
  width: 40px;
}

#spam-langs-table td.lang,
#address-rules-table td.rule,
#address-rules-table td.email,
#address-rules-table td.email
{
  text-align: left;
  vertical-align: middle;
  border-left: 0;
  border-right: 0;
}

#spam-langs-table td.tick,
#address-rules-table td.control
{
  text-align: right;
  vertical-align: middle;
  border-left: 0;
  border-right: 0;
}

#spam-langs-table td.tick a,
#address-rules-table td.control a
{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background-image: url(icons.png);
  cursor: pointer;
}

#address-rules-table td.control a.delete
{
  background-position: 0 -1px;
}

#spam-langs-table td.tick a.enabled
{
  background-position: 0 -18px;
}

#spam-langs-table td.tick a.disabled
{
  background-position: 0 -36px;
}

.whitelist_from,
.whitelist_to
{
  color: #008800;
  text-align: left;
  vertical-align: middle;
}

.blacklist_from
{
  color: #BB0000;
  text-align: left;
  vertical-align: middle;
}

#listcontrols
{
  font-size: 11px;
  text-align: right;
}

#listcontrols a,
#listcontrols a:active,
#listcontrols a:visited
{
  color: #2D5986;
  font-size: 11px;
  text-decoration: none;
}

#listcontrols a:hover
{
  text-decoration: underline;
}

table.generalprefstable,
table.langprefstable,
table.headersprefstable,
table.testsprefstable,
table.bayesprefstable,
table.reportprefstable,
table.addressprefstable
{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table.generalprefstable td,
table.langprefstable td,
table.headersprefstable td,
table.testsprefstable td,
table.bayesprefstable td,
table.reportprefstable td,
table.addressprefstable td
{
  width: 80%;
  padding: 4px 10px;
  background: #eee;
  border-bottom: 2px solid #fff;
}

table.addressprefstable td
{
  width: auto;
}

table.generalprefstable td.title,
table.langprefstable td.title,
table.headersprefstable td.title,
table.testsprefstable td.title,
table.bayesprefstable td.title,
table.reportprefstable td.title,
table.addressprefstable td.title
{
  width: 20%;
  color: #333;
  padding-right: 20px;
  white-space: nowrap;
}

table.addressprefstable td.ruletype
{
  width: 180px;
}

table.addressprefstable td.address
{
  width: 220px;
}

table.addressprefstable td.action
{
  width: 100px;
  text-align: right;
}

table.langprefstable td.scroller,
table.addressprefstable td.scroller
{
  padding: 0;
}

#sections-table #rcmrowtests td.section
{
  background-image: url(listicons.png);
  background-position: 5px -199px;
}

#sections-table #rcmrowtests.selected td.section
{
  background-image: url(listicons.png);
  background-position: 5px -225px;
}

#sections-table #rcmrowbayes td.section
{
  background-image: url(listicons.png);
  background-position: 5px -248px;
}

#sections-table #rcmrowbayes.selected td.section
{
  background-image: url(listicons.png);
  background-position: 5px -270px;
}

#sections-table #rcmrowheaders td.section
{
  background-image: url(listicons.png);
  background-position: 5px -99px;
}

#sections-table #rcmrowheaders.selected td.section
{
  background-image: url(listicons.png);
  background-position: 5px -124px;
}

#sections-table #rcmrowreport td.section
{
  background-image: url(listicons.png);
  background-position: 5px -150px;
}

#sections-table #rcmrowreport.selected td.section
{
  background-image: url(listicons.png);
  background-position: 5px -174px;
}

#sections-table #rcmrowaddresses td.section
{
  background-image: url(listicons.png);
  background-position: 4px -50px;
}

#sections-table #rcmrowaddresses.selected td.section
{
  background-image: url(listicons.png);
  background-position: 4px -74px;
}