/**
 * SAUserPrefs plugin styles
 */
table.sortable-table > thead > tr > th > a::after,
table.records-table tr > .tick > a::before,
table.records-table tr > .control > a::before,
span.helpicon::after {
  font-size: 1.25em;
  display: block;
  float: left;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.listing.iconized tr.general > td.section::before {
  content: "\f085";
}
.listing.iconized tr.tests > td.section::before {
  content: "\f0c2";
}
.listing.iconized tr.bayes > td.section::before {
  content: "\f1c0";
}
.listing.iconized tr.headers > td.section::before {
  content: "\f03a";
}
.listing.iconized tr.report > td.section::before {
  content: "\f15c";
}
.listing.iconized tr.addresses > td.section::before {
  content: "\f2bb";
}
.listing.iconized tr.scores > td.section::before {
  content: "\f0ad";
}
table.propform tr.sauphelp {
  margin-top: -7px;
}
table.langprefstable tr > .scroller,
table.addressprefstable tr > .scroller {
  width: 100%;
}
table.langprefstable tr > .scroller .icon-checkbox + label::before,
table.addressprefstable tr > .scroller .icon-checkbox + label::before {
  float: right;
}
#address-rules-cont,
#spam-langs-cont {
  height: 400px;
  overflow: auto;
  width: 100%;
}
table.sortable-table > thead > tr > th > a {
  text-decoration: none;
  color: #141823;
  white-space: nowrap;
}
table.sortable-table > thead > tr > th > a::after {
  display: inline-block;
  float: none;
}
table.sortable-table > thead > tr > th.sorted-asc > a::after {
  content: "\f175";
}
table.sortable-table > thead > tr > th.sorted-desc > a::after {
  content: "\f176";
}
table.spam-langs-table,
table.address-rules-table {
  margin-bottom: 0;
  overflow: hidden;
}
table.spam-langs-table > thead > tr > th.lang,
table.address-rules-table > thead > tr > th.lang,
table.spam-langs-table > thead > tr > th.email,
table.address-rules-table > thead > tr > th.email {
  width: 100%;
}
table.spam-langs-table > tbody > tr > td.rule,
table.address-rules-table > tbody > tr > td.rule {
  white-space: nowrap;
}
table.spam-langs-table > tbody > tr > td.lang,
table.address-rules-table > tbody > tr > td.lang,
table.spam-langs-table > tbody > tr > td.email,
table.address-rules-table > tbody > tr > td.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
}
table.records-table tr > .tick > a::before,
table.records-table tr > .control > a::before {
  display: inline-block;
  float: none;
  text-decoration: none;
}
table.records-table tr > .tick > a.delete::before,
table.records-table tr > .control > a.delete::before {
  content: "\f014";
  color: #141823;
}
#rcmfd_spamaddressrule {
  width: 100%;
}
.whitelist_from > td.rule,
.whitelist_to > td.rule {
  color: #28a745;
}
.blacklist_from > td.rule {
  color: #dc3545;
}
#test-scores-table tr.form-group {
  margin-bottom: 0;
}
#listcontrols {
  text-align: right;
  width: 100%;
  font-size: 0.9em;
  margin-bottom: -7px;
}
span.helpicon::after {
  float: none;
  display: inline-block;
  content: "\f05a";
}
#rcmfd_spamlevelchar {
  width: 40px;
}
div.address-input {
  margin-bottom: 8px;
}
#rcmfd_spamaddress {
  min-width: 100px;
}
button.btn.saup_defaults::before {
  content: "\f0e2";
}
#layout > .content > div.footer .saup_defaults {
  display: none;
}
html.layout-small #address-rules-cont,
html.layout-phone #address-rules-cont,
html.layout-small #spam-langs-cont,
html.layout-phone #spam-langs-cont {
  height: auto;
}
html.layout-phone .address-input.input-group {
  display: block;
}
html.layout-phone .address-input.input-group input {
  width: 100%;
}
html.layout-phone table.address-rules-table > thead > tr > th.rule,
html.layout-phone table.address-rules-table > tbody > tr > td.rule {
  display: none;
}
html.layout-phone .whitelist_from > td.email,
html.layout-phone .whitelist_to > td.email {
  color: #28a745;
}
html.layout-phone .blacklist_from > td.email {
  color: #dc3545;
}
